.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(00, 00, 00, .5);
  display: flex;
  display: none;


// &.error-modal {
//   .modal__content {
//     color: red;
//   }
}

.modal .fancybox-content {
  padding: 0 !important;
}

.fancybox-button {
  display: none;
}

.modal__container {
  background: #ffffff;
  padding: rem(35px) rem(60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-error {
  border: rem(3px) solid hotpink;
}

.modal__content {
  margin-bottom: rem(15px);
  color: #000000;
}

